.Video-large-div {
  display: flex;
  position: relative;
  margin-top: 5%;
  margin-bottom: 6%;
}
.Video-large-div-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  width: 100%;
}
.Video-desc {
  margin-left: 2%;
  text-shadow: 1px 1px 2px #000000;
  margin-top: 2%;
  height: 28px;
  position: absolute;
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 28px;
}
.Video-heart-large-img {
  position: absolute;
  margin-left: 95%;
  cursor: pointer;
  margin-top: 3%;
  box-sizing: border-box;
  height: 29px;
  width: 31px;
}
.zoom {
  margin-left: 3%;
  margin-top: 2%;
  display: flex;
  width: 120px;
  height: 40px;
}

.zoom-in {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 60px;
  border-radius: 4px 0 0 4px;
  background-color: #ffffff;
}
.zoom-out {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
  height: 40px;
  width: 60px;

  border-radius: 0 4px 4px 0;
  background-color: #ffffff;
}
.Video-profile-name-image-container-large {
  display: flex;
  align-items: center;
  height: 31px;
  width: 300px;
  margin-top: 6%;
  margin-left: 2%;
}
.profile-large-name {
  text-shadow: 1px 1px 2px #000000;
  margin-left: 15px;
  height: 24px;
  width: 124px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}
.play-button-large {
  position: absolute;
  margin-top: 22%;
  margin-left: 45%;
}
.play-icon-below {
  position: absolute;
  cursor: pointer;
  height: 22px;
  width: 21px;
  margin-top: 50%;
  margin-left: 2%;
}
.video-slider {
  position: absolute;
  margin-left: 7%;
  margin-top: 50.7%;
  box-sizing: border-box;
  height: 2px;
  width: 807px;
  border: 4px solid #858585;
}

.fullscreen-icon {
  cursor: pointer;
  margin-left: 60.8%;
  margin-top: 43.5%;
}
.video-large-img {
  height: 522px;
  width: 940px;
}
.Video-back {
  display: none;
}
.react-player {
  height: 522px;
  width: 940px;
}

@media screen and (max-width: 540px) {
  .Video-large-div {
    display: flex;
    position: absolute;
    margin-top: 0%;
    height: 100%;

    background-color: black;
  }
  .Video-desc {
    margin-left: 20%;
    width: 90%;
  }
  .Video-large-div-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 00px;
    width: 300px;
  }
  .Video-profile-name-image-container-large {
    position: absolute;
    display: flex;
    margin-left: 5%;
    margin-top: 25%;
    text-shadow: 1px 1px 2px #000000;
    align-items: center;
    height: 31px;
    width: 300px;
  }
  .Video-large {
    height: 800px;
    width: 550px;
  }
  .Video-heart-large-img {
    margin-top: 25%;
    margin-left: 100%;
    box-sizing: border-box;
    height: 29px;
    width: 31px;
  }
  .zoom {
    display: none;
  }

  .Video-back {
    display: block;
    height: 24px;
    width: 24px;
    margin-left: 2%;
    margin-top: 3%;
    position: absolute;
  }
  .react-player {
    margin-top: 50%;
    width: 400px;
    height: 300px;
  }
}
@media screen and (min-width: 400px) and (max-width: 700px) {
  .react-player {
    margin-top: 50%;
    width: 550px;
    height: 300px;
  }
}
